---
# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Mozilla
IndentWidth: 4
ColumnLimit: 128
UseTab: Never
UseCRLF: false

AlignAfterOpenBracket: BlockIndent
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations : Yes
BreakBeforeBraces: Stroustrup
ContinuationIndentWidth: 4
InsertBraces: true
PointerAlignment: Left
SpaceAfterCStyleCast: false
